div{
    width: 400px;
    height: 200px;
    background-color: rgb(97, 154, 154);
    margin-top: 20px;
}
.a {
width: 400px;
height: 400px;
background-color: blueviolet;
margin-top: 40px;
border: 50px solid black;
}
.b {
width: 200px;
height: 500;
background-color: beige;
margin-top: 30px ;
border: 40px solid black;
}
.c {
width: 500px;
height: 600px;
background-color: aqua;
margin-top: 20px;
border: 30px solid black;
}
.a img {
width: 400px;
}
.b img {
width: 200px;
}
